---
title: Register to speak or give a demo
sectionId: register
register: active
---
<h1>Apply to speak or give a demo</h1>
<p>Think you've got an idea others will want to hear? Applications for speakers and demos will close on March 18th at midnight. Apply to become a speaker or give a demo at NotConf. We won't share your information with anyone, promise.</p>
<p>Not quite ready? <a href="/register" title="Register to attend">Register to attend.</a> Want to help out in other ways? <a href="/register/volunteer" title="Volunteer now.">Volunteer now.</a></p>
<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">
  var z7x1z5 = new WufooForm();
  z7x1z5.initialize({
  'userName':'meltmedia', 
  'formHash':'z7x1z5', 
  'autoResize':true,
  'height':'746',
  'header':'show', 
  'ssl':true});
  z7x1z5.display();
</script>
