---
title: Register to sponsor
sectionId: register
---
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://notconf.com" data-text="Excited for @jsconf or bummed it's sold out? Check out @NotConf, a JS pre-conference on April 1st in Phoenix." data-hashtags="notconf">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<h1>Register to sponsor NotConf</h1>
<p>Please apply here to sponsor NotConf. We won't share your information with anyone, promise. <strong>Registration for sponsorship will close on March 18th at midnight.</strong></p>
<p>To speak or give a demo, <a href="/register/speaker" title="Apply here">apply here.</a> Want to help out in other ways? <a href="/register/volunteer" title="Volunteer now.">Volunteer now.</a></p>
<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">
  var z7x0r3 = new WufooForm();
  z7x0r3.initialize({
  'userName':'meltmedia', 
  'formHash':'z7x0r3', 
  'autoResize':true,
  'height':'576',
  'header':'show', 
  'ssl':true});
  z7x0r3.display();
</script>
