---
title: Register to sponsor
sectionId: register
register: active
---
{{#if showReg}}
<h1>Register to sponsor NotConf</h1>
<p>Please apply here to sponsor NotConf. We won't share your information with anyone, promise. <strong>Registration for sponsorship will close on March 18th at midnight.</strong></p>
<p>To speak or give a demo, <a href="/register/speaker" title="Apply here">apply here.</a> Want to help out in other ways? <a href="/register/volunteer" title="Volunteer now.">Volunteer now.</a></p>
<div class="wufoo-form-holder"><img src="/images/form-loader.gif" alt="Loading" /></div>
{{else}}

<h1>Sponsor Registration Closed</h1>
<p>We are sorry to inform you, but our sponsor signup has closed. Thank you for your interest in wanting to make the community just a little bit better!</p>
<p>Don't fret though, if you haven't already, you can still <a href="/register" title="Register to Attend NotConf">register to attend NotConf</a>!</p>

{{/if}}
