---
title: Register to volunteer
sectionId: register
register: active
---
<h1>Register to volunteer</h1>
<p>Interested in helping us out? That's seriously so nice of you. We won't share your information with anyone, promise.</p>
{{#if showReg}}
<p>Would you rather speak or give a demo? <a href="/register/speaker" title="Apply here">Apply here.</a> Not quite ready to volunteer? <a href="/register" title="Register to attend">Register to attend.</a></p>
{{else}}
<p>Not quite ready to volunteer? <a href="/register" title="Register to attend">Register to attend.</a></p>
{{/if}}
<div class="wufoo-form-holder"><img src="/images/form-loader.gif" alt="Loading" /></div>
