---
title: All the Important Details
sectionId: details
details: active
---
<h1>All the NotConf Details</h1>
<p>NotConf takes place the day before JSConf on April 1st, 2012 at the Arizona Historical Society at Papago Park. The event begins at 10:00am and runs until 6:00pm.</p>
<h2>Gettin' There</h2>
<a href="http://maps.google.com/maps?q=arizona+historical+society&hl=en&sll=33.442082,-111.932246&sspn=0.038496,0.055146&hq=arizona+historical+society&t=m&z=15" target="_blank" title="View on Google Maps"><img src="images/photo-map.jpg" alt="Arizona Historical Society Map" class="photo" /></a>
<address>
  <strong>Arizona Historical Society at Papago Park</strong><br />
  1300 North College Avenue<br />
  Tempe, AZ<br />
</address>
<h4>Directions</h4>
<p><a href="http://maps.google.com/maps?saddr=Phoenix+Sky+Harbor+International+Airport,+East+Sky+Harbor+Boulevard,+Phoenix,+AZ&daddr=1300+North+College+Avenue,+Tempe,+AZ+85281+(Arizona+Historical+Society+Museum+at+Papago+Park)&hl=en&sll=33.442082,-111.932246&sspn=0.038818,0.049653&geocode=FVAw_gEdLgxT-SFC7lbi1TX1gg%3BFSJJ_gEdqgxU-SHsvv-xcJx6Kw&oq=phoenix+sky+harbor&mra=ls&t=m&z=14" target="_blank" title="From Phoenix Sky Harbor Airport">From Phoenix Sky Harbor Airport</a><br /><a href="http://maps.google.com/maps?saddr=Firesky+Resort,+North+Scottsdale+Road,+Scottsdale,+AZ&daddr=1300+North+College+Avenue,+Tempe,+AZ+85281+(Arizona+Historical+Society+Museum+at+Papago+Park)&hl=en&sll=33.442082,-111.932246&sspn=0.038818,0.049653&geocode=FYRM_wEd2yhU-SEkvaJnRLhcpw%3BFSJJ_gEdqgxU-SHsvv-xcJx6Kw&oq=FireSky&mra=ls&t=m&z=14" target="_blank" title="From FireSky Resort in Scottsdale">From FireSky Resort in Scottsdale</a></p>
<h4>Parking</h4>
<p>The Arizona Historical Society features a large parking lot off College Ave. just steps away from the event space. Parking is free and is available on a first-come, first-served basis.</p>
<h4>Shuttle Service</h4>
<p>A shuttle will run between FireSky Resort and NotConf continuously from 9:40 - 11:00 and from 5:00 - 6:20. Look for the van with the mustache.</p>
<p>From 11:00 - 5:00, please call <a href="tel:480-269-7009">480-269-7009</a> and the van will come get you. If you come straight from the airport, we can check your luggage for safe keeping.</p>
<p>Or if you prefer the taxi variety: Discount Cab <a href="tel:602-200-2000">602-200-2000</a> or Yellow Cab Co. <a href="tel:602-252-5252">602-252-5252</a>.</p>
<h2>Refreshments</h2>
<p>Listening to amazing speakers and chatting with other JS nerds can really work up an appetite. Luckily there will be plenty of food and drink to satisfy your cravings. Complimentary soda, water, and alcoholic beverages will be available. We will be featuring a delicious assortment of local Arizona brewed beer and bottled wine. A valid I.D. confirming 21 years of age is required for alcoholic beverages.</p>
<p>Snacks will be available all day and local Phoenix food trucks will be camping out around lunch time. We're happy that <a href="http://roaminghunger.com/shine-coffee" target="_blank" title="Shine Coffee">Shine Coffee</a>, <a href="http://buzznbeezgoodfood.com/" target="_blank" title="">Buzznbeez</a>, <a href="http://www.epichotdogs.com/" target="_blank" title="Epic Hot Dogs">Epic Hot Dogs</a>, and <a href="http://www.dcranch.com/InDCRanch/News/Chuck_the_Food_Truck.htm" target="_blank" title="">Chuck the Food Truck</a> could join us for the event.</p>
<p>Each attendee will be given one (1) coffee ticket, one (1) meal ticket, and two (2) beer/wine tickets (if 21 years or older, of course). Additional food can be purchased, if desired.</p>
<h2>What to Bring</h2>
<p>NotConf encourages you to bring your computer with you. Hacking stations will be set up so you can get a little work done in a beautiful desert setting. Families are also welcome. Other than that, bring your JS knowledge, questions, and pre-JSConf excitement.</p>
<h2>Giveaways</h2>
<p>We will be giving away three major prizes at NotConf: two brand new iPads and the last available ticket to JSConf.</p>
<p>You'll be entered to win one of the iPads just for showing up. Easy, right?</p>
<p>For a chance at the other iPad (in a potentially much smaller pool of people), you can participate in our <a href="https://github.com/meltmedia/notconf-live-project" title="Live Project" target="_blank">Live Project</a>. Click the link for more details.</p>
<p>To win the ticket for JSConf, plan on showing up to NotConf in your best western/cowboy/cowgirl getup. We'll snap your photo at registration and more details will be announced that afternoon!</p>
<h2>Entertainment</h2>
<p><img src="images/obadiah-parker.jpg" alt="Obadiah Parker" class="photo" /><span class="footnote"><a href="http://jtoycen.blogspot.com/2011/11/hey-yeah.html" target="_blank">image source</a></span></p>
<p>We are excited that local Phoenix singer/songwriter Obadiah Parker will be joining us for NotConf. Many of us have had the opportunity to see him perform live and he never disappoints.</p>
<p><em>From <a href="http://obadiahparker.com" target="_blank" title="www.obadiahparker.com">www.obadiahparker.com</a>:</em><br />Based out of Phoenix, AZ, Mat Weddle has been playing music as Obadiah Parker since 2005. Driven by a popular YouTube video of a live performance, his cover of "Hey Ya" became a breakout hit in 2007, topping the iTunes singer-songwriter charts for the year. With the following 2008 EP, The Tip Jar, Vol. I, Obadiah Parker built a strong internet following with soulful vocals and his ability to cover a variety of tunes with a unique and singular style.</p>
