---
title: All the Important Details
sectionId: details
details: active
---
<h1>All the NotConf Details</h1>
<p>NotConf takes place the day before JSConf on April 1st, 2012 at the Arizona Historical Society at Papago Park. The event begins at 10:00am and runs until 6:00pm.</p>
<h2>Gettin' There</h2>
<a href="http://maps.google.com/maps?q=arizona+historical+society&hl=en&sll=33.442082,-111.932246&sspn=0.038496,0.055146&hq=arizona+historical+society&t=m&z=15" target="_blank" title="View on Google Maps"><img src="images/photo-map.jpg" alt="Arizona Historical Society Map" class="photo" /></a>
<address>
  <strong>Arizona Historical Society at Papago Park</strong><br />
  1300 North College Avenue<br />
  Tempe, AZ<br />
</address>
<h4>Parking</h4>
<p>The Arizona Historical Society features a large parking lot off College Ave. just steps away from the event space. Parking is free and is available on a first-come, first-served basis.</p>
<h4>Shuttle Service</h4>
<p>Shuttle service will be available for those coming into Phoenix from out of town. Shuttles will run between Phoenix Sky Harbor Airport, FireSky Resort, and the Arizona Historical Society. Shuttle schedule TBA.</p>
<h2>Refreshments</h2>
<p>Listening to amazing speakers and chatting with other JS nerds can really work up an appetite. Luckily there will be plenty of food and drink to satisfy your cravings. Complimentary soda, water, and alcoholic beverages will be available. We will be featuring a delicious assortment of local Arizona brewed beer and bottled wine. A valid I.D. confirming 21 years of age is required for alcoholic beverages.</p>
<p>Snacks will be available all day and local Phoenix food trucks will be camping out around lunch time. The food is hot, tasty, and on the house.</p>
<h2>What to Bring</h2>
<p>NotConf encourages you to bring your computer with you. Hacking stations will be set up so you can get a little work done in a beautiful desert setting. Families are also welcome. Other than that, bring your JS knowledge, questions, and pre-JSConf excitement.</p>
