---
title: Quick Event Guide
sectionId: guide
---

<h2>Details</h2>
<h3>Sunday April 1st / 10:00am - 6:00pm</h3>
<h3>Arizona Historical Society at Papago Park</h3>

<h2>Directions</h2>
<ul class="btn-list clearfix">
  <li><a href="http://g.co/maps/mgpws" class="btn teal">From the FireSky Resort</a></li>
  <li><a href="http://g.co/maps/tzfw9" class="btn teal">From Sky Harbor Airport</a></li>
  <li><a href="http://g.co/maps/rz3nf" class="btn teal">From current location</a></li>
</ul>

<h2>Transportation</h2>
<p>A shuttle will run between FireSky Resort and NotConf continuously from 9:40 - 11:00 and from 5:00 - 6:20. Look for the van with the mustache.</p>
<p>From 11:00 - 5:00, please call <a href="tel:480-269-7009">480-269-7009</a> and the van will come get you. If you come straight from the airport, we can check your luggage for safe keeping.</p>
<p>Or if you prefer the taxi variety: Discount Cab <a href="tel:602-200-2000">602-200-2000</a> or Yellow Cab Co. <a href="tel:602-252-5252">602-252-5252</a>.</p>

<h2>Sign In</h2>
<div class="clearfix">
  <h3>Look for the blue table by the entrance.</h3>
  <img src="images/guide-badge.jpg" id="badge" />
  <ol>
    <li>Give your best cowboy greeting.</li>
    <li>Sign your name badge.</li>
    <li>Add some stickers for flair.</li>
    <li>Pick up a swag bag*.</li>
    <li>Grab your meal/drink tickets (see below).</li>
  </ol>
  <p class="footnote">*Swag bags will be given out on a first-come first-served basis.</p>
</div>

<div class="clearfix">
  <div id="tix">
    <img src="images/guide-tix1.jpg" />
    <img src="images/guide-tix2.jpg" />
    <img src="images/guide-tix3.jpg" />
  </div>
  <div id="refresh">
    <h2>Refreshments</h2>
    <h3>Fill your belly, on the house.</h3>
    <p>Snacks, soda, and water will  be available during the day.</p>
    <p>Every attendee will receive one (1) coffee ticket and one (1) meal ticket for the local Phoenix food trucks and two (2) beer/wine tickets for the bar. If you are 21, you will need to get a wristband!</p>
    <h3 class="schedule">Coffee truck &#8212; 9:45 - 11:45</h3>
    <h3 class="schedule">Food trucks &#8212; 11:00 - 3:00</h3>
    <p class="footnote">Additional food can be purchased, if desired.</p>
  </div>
</div>

<h2>Scheduled Events</h2>
  <p><a href="/schedule" title="View speaker and demo topics on the schedule page.">View speaker and demo topics on the schedule page.</a></p>
<div class="clearfix">
  <div id="speakers">
    <h3>Speakers</h3>
    <p>10:30 - 11:00 &#8212; Mike MacCana</p>
    <p>11:30 - 12:00 &#8212; Ritchie Martori</p>
    <p>2:00 - 2:30 &#8212; Paolo Fragomeni</p>
    <p>3:00 - 3:30 &#8212; Pamela Fox</p>
    <p>4:00 - 4:30 &#8212; Chris Williams</p>
  </div>
  <div id="demos">
    <h3>Demos</h3>
    <p>10:35 - 10:55 &#8212; Brian LeRoux</p>
    <p>11:05 - 11:25 &#8212; Jeff Cross &#38; Dallon Feldner</p>
    <p>11:35 - 11:55 &#8212; Ray Morgan</p>
    <p>2:35 - 2:55 &#8212; Brian LeRoux</p>
    <p>3:35 - 3:55 &#8212; Jeff Cross &#38; Dallon Feldner</p>
    <p>4:35 - 4:55 &#8212; Ray Morgan</p>
  </div>
</div>

<h2>Win Prizes!</h2>
<div class="clearfix">
  <img src="images/guide-cowboy.png" id="cowboy" />
  <h3>New iPad</h3>
  <p>Show up for NotConf and you'll be entered to win a new iPad. Easy peasy.</p>
  <h3>Other new iPad</h3>
  <p>Participate in our <a href="https://github.com/meltmedia/notconf-live-project" title="Live Project" target="_blank">Live Project</a> and you'll be entered in a much smaller pool to win the other new iPad. Show us your skillz!</p>
  <h3>The Last JSConf ticket</h3>
  <p>To win the last remaining JSConf ticket, show up to NotConf in your best Western wear. We'll snap your photo at registration. More details will be announced in the afternoon!</p>
</div>

<h2>I Have Questions?</h2>
<h3>Find a friend wearing a bright bandana.</h3>
<p>NotConf volunteers will be floating around and can answer all of your questions. Well, at least ones related to this event. They're decked out with brightly colored bandanas so they'll be easy to spot.</p>
