---
title: a JSConf pre-conference
sectionId: details
---
<h1>Your Guide to NotConf!</h1>

<h2>Getting Here</h2>
<p>
  From the Airport (Directions)<br/>
  Taxis, rental cars, etc<br/>
  Mustache Rides (Shuttle service)  
</p>

<h2>Signing In and Luggage</h2>
<p>
  Where to sign in and what wlil be there
</p>

<h2>Schedule of Events</h2>
<p>
  Fancy updating event calendar. I will add the JS.
</p>

<h2>Contests</h2>
<p>
  Cowboy/cowgirl costume contest (JSConf Ticket)
  Live Project (new iPad)
  Other iPad contest
</p>

<h2>I Have Questions</h2>
<p>Who to contact or find</p>
