---
title: Register to attend
sectionId: register
register: active
---
<h1>Register to attend NotConf</h1>
<p>Attending NotConf is super easy. Simply fill out this registration form and then show up on April 1st. We won't share your information with anyone, promise.</p>
{{#if showReg}}
<p>Interested in speaking or giving a demo? <a href="/register/speaker" title="Apply here">Apply here.</a> Want to help out in other ways? <a href="/register/volunteer" title="Volunteer now.">Volunteer now.</a></p>
{{/if}}
<div class="wufoo-form-holder"><img src="/images/form-loader.gif" alt="Loading" /></div>
