---
title: Schedule of Events
sectionId: schedule
schedule: active
---
<h1>NotConf Schedule of Events</h1>
<p>At NotConf, there's something for everyone. Step into Steele Auditorium for a speaker presentation, have a drink and socialize with other JS enthusiasts, or work on your laptop while listening to some live music. Stay for the whole day or come and go as you please.</p>
{{#if showReg}}
<p>Interested in speaking at NotConf? <a href="/register/speaker" title="Apply here">Apply here.</a> Want to help out in other ways? <a href="/register/volunteer" title="Volunteer now.">Volunteer now.</a></p>
{{/if}}
<table id="events">
  <thead>
    <tr>
      <th colspan="2">Scheduled Events</th>
      <th>All Day Events</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="time">10:30-11:00</td>
      <td class="speaker">Speaker TBA<span>Presentation topic TBA</span></td>
      <td class="activities" rowspan="6">Food<br />Beverages<br />Local Brews<br />Live music<br /><span>from <a href="http://www.obadiahparker.com" title="Obadiah Parker" target="_blank">Obadiah Parker</a></span>Hacking<br />Trivia<br />Demos<br /><span>from <a href="http://twitter.com/brianleroux" title="Brian LeRoux" target="_blank">Brian LeRoux</a><br />on Adobe's "secret" mobile debugging tool</span>Live projects</td>
    </tr>
    <tr>
      <td class="time">11:30-12:00</td>
      <td class="speaker"><a href="http://twitter.com/ritchiemartori" target="_blank" title="Ritchie Martori">Ritchie Martori</a><span>Why web development is broken.</span></td>
    </tr>
    <tr>
      <td class="time">12:00-2:00</td>
      <td class="speaker">Lunchies<span>Provided by local Phoenix food trucks</span></td>
    </tr>
    <tr>
      <td class="time">2:00-2:30</td>
      <td class="speaker"><a href="http://twitter.com/Hij1nx" target="_blank" title="Paolo Fragomeni">Paolo Fragomeni</a><span>Deep inspection of the operating system and its processes in realtime using JavaScript. As well as several other unexpected uses of our favorite yet unusual language.</span></td>
    </tr>
    <tr>
      <td class="time">3:00-3:30</td>
      <td class="speaker">Speaker TBA<span>Presentation topic TBA</span></td>
    </tr>
    <tr>
      <td class="time">4:00-4:30</td>
      <td class="speaker"><a href="http://twitter.com/voodootikigod" target="_blank" title="Chris Williams">Chris Williams</a><span>How to attend a conference. No seriously, stop spending money attending shitty conferences and attend awesome ones.</span></td>
    </tr>
    <tr>
      <td class="time">5:15</td>
      <td class="speaker">NotConf Wrap-up<span>Prize giveaways including a ticket to JSConf and two new iPads.</span></td>
    </tr>
  </tbody>
</table>
